/* https://coolors.co/152614-1e441e-2a7221-119822-31cb00 */

:root {
  --color-green-black: #012340;
  --color-green-black-2: #025939;
  --color-green-backckground: #012340;
  --color-primary: #04d939;
  --color-background: white;
}

body {
  font-family: "JetBrains Mono", sans-serif;
  color: var(--color-green-black);
  font-size: 6rem;
  background: var(--color-green-backckground);
  margin: 0;
}

main {
  background-color: var(--color-background);
  padding: 3rem;
  max-width: 50rem;
  position: relative;
  z-index: 1;
  -webkit-box-shadow: 5px 5px 15px 5px #000000;
  box-shadow: 5px 5px 15px 5px #000000;
}

form {
  padding: 16px;
  background-color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border: none;
  background-color: var(--color-primary);
  width: 60vw;
  font-size: 3rem;
  text-align: left;
}

::-webkit-input-placeholder {
  text-align: left;
}

:-moz-placeholder {
  text-align: left;
}

input::placeholder {
  color: var(--color-green-black);
  font-family: "JetBrains Mono", sans-serif;
  opacity: 1;
}

input:focus {
  outline: none;
}

form:focus-within {
  outline: 1px solid blue;
}

button {
  border: 1px solid white;
  background: var(--color-background);
  color: var(--color-green-black);
  font-size: 3rem;
  padding: 0 1rem;
}

.gradient-container {
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    to left top,
    var(--color-green-black),
    var(--color-green-black-2)
  );
  isolation: isolate;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gradient-container::before,
.gradient-container::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  content: "";
}
.gradient-container::before {
  background: linear-gradient(30deg, #777, #000),
    repeating-linear-gradient(30deg, #000, #999, #000 5%),
    repeating-linear-gradient(-60deg, #000, #999, #000 5%);
  background-blend-mode: screen, difference;
  filter: contrast(50);
  mix-blend-mode: multiply;
}
.gradient-container::after {
  background: linear-gradient(90deg, black, #05200d);
  mix-blend-mode: screen;
}
